* {
    margin:0;
}

body {
    background-color: #373637;
    color: #FF4C00;
    font-family:Arial, Helvetica, sans-serif;
}

hr {
    background-color: #ca04ec;
}

.importantNotes {
    color:#ca04ec;
}

.importantNotes .btn:hover {
    background:#ca04ec;
    color: #fff;
    border: 1px solid #ca04ec;
    outline:none;
}

.card {
    background: transparent !important;
    box-shadow: 5px 5px 8px #ff87ff,
    -5px -5px 8px #484748;
    width: 20rem;
}

.button_container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    background: transparent;
    color:inherit;
    border: 1px solid;
    outline: none;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.btn_delete{
    color: rgb(41, 104, 77);
    background: transparent;
    border: 1px dashed;
    outline: none;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 5px 5px 5px #256849,
    -5px -5px 5px #484748;
}

.btn:hover{
    background: #FF4C00;
    color:#fff;
    border: 1px solid #FF4C00;
    outline: none;
  
}

.form-group > textarea {
    background: #FF4C00;
    color:#fff;
    min-width:15rem;
}
.form-group > textarea:hover {
    background: #fff;
}